:root {
  --color-white: #fff;

  --color-curious-base: 204;
  --color-curious-light: hsl(var(--color-curious-base), 70%, 58%);
  --color-curious-normal: hsl(var(--color-curious-base), 70%, 53%);

  --color-porcelain-base: 192;
  --color-porcelain-normal: hsl(var(--color-porcelain-base), 15%, 94%);;
}
