.b-TextBlock {
  display: block;
  position: relative;
  outline: none;
  max-width: 100%;
  word-break: break-word;

  &:before {
    content: attr(placeholder);
    position: absolute;
    color: rgba(0, 0, 0, .3)
  }

  &:not(:empty) {
    &:before {
      opacity: 0;
    }
  }
}
